*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Gordita;
    src: url(../fonts/Gordita-Medium.woff);
}
body{
    font-family: Gordita;
}
/* ************ Header Start ************ */

.logo{
    width: 3.5rem;
}

.nav-link{
    transition: .5s ease;
}
.nav-link:hover{
    color: #f1554a !important;
}