* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Gordita;
  src: url(../fonts/Gordita-Medium.woff);
}
body {
  font-family: Gordita;
}
.mt {
  margin-top: 200px;
}
.mb{
    margin-bottom: 50px;
}
.mt-100{
    margin-top: 100px;
}
.card{
  --bs-card-border-width: none !important;
}
a{
  text-decoration: none;
}
/* ************ Header Start ************ */

.logo {
  width: 3.5rem;
}

.nav-link {
  transition: 0.5s ease;
}
.nav-link:hover {
  color: #f1554a !important;
}
/* ************ Header End ************ */

/* ************ home section design Start ************ */

.home-container {
  position: relative;
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.home-top {
    width: 100%;
    min-height: 100px;
    border: 1rem solid #fa6156;
    background-color: #ede7e775;
}
.btn-orange{
    background-color: #fa6156;
    color: #fff;
    border: .2rem solid transparent;
    transition: .5s ease;
}
.btn-orange:hover{
  background: transparent;
  color: #fa6156;
  border-color: #fa6156;
}
.icon-content{
    background-color: #fa6156;
}
.icon-content img{
  width: 5rem;
  height: 5rem;
}
/* ************ home section design End ************ */

/* ************ services section design Start ************ */

.card{
  border-radius: 2rem;
  border-top: 0.6rem solid #fa6156;
  border-bottom: 0.6rem solid #fa6156;
}
#services a{
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #888888;
  transition: .5s ease;
}
#services a:hover{
  border-bottom: 2px solid #fa6156;
}
#services img{
  height: 269px;
}

/* ************ services section design End ************ */

/* ************ products section design Start ************ */

#products a{
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #888888;
  transition: .5s ease;
}
#products a:hover{
  border-bottom: 2px solid #fa6156;
}
#products img{
  height: 318px;
}
.text-gray{
  color: #ababab;
}
/* ************ products section design End ************ */


/* ************ company section design Start ************ */
.tick{
  width: 1em;
  height: 1em;
}
.company-content{
  background-color: #d8d8d8;
}
.company-content img{
  width: 64px;
  height: 64px;
}
#company button{
  width: 18%;
}
/* ************ company section design End ************ */

/* ************ Portfolio section design Start ************ */
.portfolio{
  background-color: #d8d8d8;
}
.portfolio img{
  height: 220px;
  object-fit: cover;
  transition: .5s ease;
}
.portfolio img:hover{
  filter: grayscale(100%);
}
/* ************ Portfolio section design End ************ */


/* ************ Testimonial section design Start ************ */
.testimonial-area .testimonial-more {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.testimonial-area .testimonial-more:before {
  position: absolute;
  content: '';
  bottom: 22px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fa6156;
}

.testimonial-area .testimonial-more:after {
  position: absolute;
  content: '';
  bottom: 22px;
  left: 0;
  right: 0;
  width: 180px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.testimonial-item .testimonial-wrap {
  position: relative;
  margin-bottom: 60px;
}

.testimonial-item .testimonial-wrap img {
  border-radius: 50%;
  position: absolute;
  left: 25px;
  bottom: -25px;
  max-width: 85px;
}

.testimonial-item .testimonial-wrap p {
  margin-bottom: 50px;
  background-color: #f6685e;
  padding: 35px;
  border-radius: 10px;
  position: relative;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  color: white;
}

.testimonial-item .testimonial-wrap p:before {
  position: absolute;
  content: "";
  bottom: -35px;
  left: 28px;
  border-left: 40px solid transparent;
  border-top: 45px solid #f6685e;
  border-right: 40px solid transparent;
  transition: 0.5s all ease;
}

.testimonial-item .testimonial-wrap .testimonial-right {
  padding-left: 125px;
  position: relative;
  top: 6px;
}

.testimonial-item .testimonial-wrap .testimonial-right h3 {
  font-weight: 600;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  margin-bottom: 8px;
}

.testimonial-item .testimonial-wrap .testimonial-right span {
  display: block;
  color: #f1554a;
  font-size: 14px;
}

/* ************ Testimonial section design End ************ */


/* ************ Team  section design Start ************ */
.single-team {
  position: relative;
}
.single-team .team-content {
  background-color: white;
  border-top: 3px solid #fa6156;
  box-shadow: 21px 0px 48px rgba(41, 8, 155, 0.08);
  padding: 25px 0 30px 0;
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 1;
  margin-top: -30px;
}
.single-team .team-content .title  {
  color: #1c1c1c !important;
  font-size: 24px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}
.single-team .team-content .subtitle {
  font-size: 16px;
}
.single-team .team-thumb {
  position: relative;
  border-radius: 10px;
}
.single-team .team-thumb img {
  width: 100%;
  border-radius: 10px;
  height: 260px;
  object-fit: cover;
}
.single-team .team-thumb .image {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.single-team .team-thumb .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #f1554a 0%, #f6685e 45%, #fa6156 66%);
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s;
}
.single-team .sidebar-social {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 10px;
}
.single-team .sidebar-social li {
  left: -10px;
  position: relative;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.single-team .sidebar-social li a {
  font-size: 16px;
  height: 40px;
  width: 40px;
  margin-right: 0;
  margin-bottom: 5px;
}
.single-team .sidebar-social li:nth-child(1) {
  transition-delay: 0.1s;
}
.single-team .sidebar-social li:nth-child(2) {
  transition-delay: 0.2s;
}
.single-team .sidebar-social li:nth-child(3) {
  transition-delay: 0.3s;
}
.single-team .sidebar-social li:nth-child(4) {
  transition-delay: 0.4s;
}
.single-team:hover .team-thumb .image::after {
  opacity: 0.6;
  transition: 0.3s;
}
.single-team:hover .sidebar-social li {
  opacity: 1;
  visibility: visible;
  left: 10px;
}

.team-wrapper:nth-child(2n+2) {
  margin-top: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-wrapper:nth-child(2n+2) {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .team-wrapper:nth-child(2n+2) {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .team-wrapper:nth-child(2n+2) {
    margin-top: 0;
  }
}
.member-identity .sidebar-social {
  margin-top: 20px;
}
.member-identity .sidebar-social li a {
  width: 50px;
  height: 50px;
}
.sidebar-social li a {
  height: 60px;
  width: 60px;
  font-size: 21px;
  display: block;
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.sidebar-social li .facebook {
  background-color: #57f7ac;
}
.sidebar-social li .twitter {
  background-color: #57f7ac;
}
.sidebar-social li .linkedin {
  background-color: #57f7ac;
}
.sidebar-social li .instagram {
  background-color: #57f7ac;
}
li{
  list-style: none;
}
ul{
  padding-left: 0 !important;
}

/* ************ Team section design End ************ */


/* ************ About section design Start ************ */

.about-content{
  background: url(../images/Slide1.JPG) center/cover fixed no-repeat;
}

/* ************ About section design End ************ */

/* ************ Contact section design Start ************ */
.contact-contect{
  background-color: #fa6156;
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: #1ec6b6;
}
.heading-line::after {
  content: "";
  width: 2rem;
  height: 0.4rem;
  display: block;
  margin: 0 auto 50px auto;
  background-color: #1ec6b6;
}
.btn-green{
  background-color: #1ec6b6;
  color: #fff;
  border: .2rem solid transparent;
  transition: .5s ease;
}
.btn-green:hover{
background: transparent;
color: #fff;
border-color: #1ec6b6;
}
.contact-contect i{
  font-size: 1.5rem;
  border: .1rem solid #fff;
  padding: .8rem;
  border-radius: 50%;
  color: white;
  transition: .5s ease;
}
.contact-contect i:hover{
  border: .1rem solid #1ec6b6;
}
.copyright-content{
  background-color: #ff766c;
}
/* ************ Contact section design End ************ */